# Exclude all files and Directories
*

# Include some Specific files or Directories
!.bashrc
!.aliases
!.functions
!.conkyrc
!.gitconfig
!.login
!.logout
!.screenrc
!.sessrec.sh
!.shrc
!.tmux.conf
!.vim/
!.vimrc
!README.md

!.config.sh
