# Exclude all files from the Home Directory
*

# Include some Specific files or Directories
!.aliases
!.bash_logout
!.bash_profile
!.bashrc
!.functions
!.gitconfig
!.gitignore
!.inputrc
!.login
!.logout
!README.md
!.tmux.conf
!.vim/
!.vimrc
!.vim_tips1
!.vim_tips2
